<div id="the-weather-wrapper">
  <h2>What about the weather?</h2>

  <p>
    Skydiving is a heavily weather dependent sport and requires good visibility, wind within an acceptable range and no
    rain. It also relies on having a clear view from the plane to the ground, which can cause problems with the
    typically cloudy British sky.
  </p>

  <p>
    It's often the case that the forecast may look slightly hit-or-miss for a weekend but <strong>the only way you can
    guarantee you won't be jumping is by not turning up.</strong> You can often learn about lots of other important
    parts of skydiving (like packing parachutes) when the weather isn't great, and every jump counts: especially when
    you're just starting off.
  </p>
</div>
