<div id="full-column">
  <h2>Static line course calendar</h2>

  <div class="sl-course-calendar-navigation">
    <div class="sl-course-calendar-nav-left">
      <a [routerLink]="['/admin/courses/calendar', previousMonth.year(), previousMonth.month() + 1]">
        <i class="fa fa-arrow-circle-left"></i>
      </a>
    </div>

    <div id="sl-course-calendar-filter">
      <label for="calendar-filter-month">Month</label>
      <select id="calendar-filter-month" name="calendar-filter-month" [value]="currentMonth.toISOString()">
        <option *ngFor="let month of months" [value]="month.toISOString()">
          {{month.format('YYYY - MMMM')}}
        </option>
      </select>

      <button type="submit">View</button>
    </div>

    <div class="sl-course-calendar-nav-right">
      <a [routerLink]="['/admin/courses/calendar', nextMonth.year(), nextMonth.month() + 1]">
        <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>

    <div class="clear"></div>
  </div>

  <div id="sl-course-calendar">
    <div id="sl-course-calendar-header">
      <div>
        <span class="full-form">Monday</span>
        <span class="short-form">Mon</span>
      </div>
      <div>
        <span class="full-form">Tuesday</span>
        <span class="short-form">Tue</span>
      </div>
      <div>
        <span class="full-form">Wednesday</span>
        <span class="short-form">Wed</span>
      </div>
      <div>
        <span class="full-form">Thursday</span>
        <span class="short-form">Thur</span>
      </div>
      <div>
        <span class="full-form">Friday</span>
        <span class="short-form">Fri</span>
      </div>
      <div>
        <span class="full-form">Saturday</span>
        <span class="short-form">Sat</span>
      </div>
      <div>
        <span class="full-form">Sunday</span>
        <span class="short-form">Sun</span>
      </div>
    </div>

    <calendar-tile *ngFor="let tile of tiles" [tile]="tile"></calendar-tile>

    <div class="clear"></div>
  </div>

  <div class="sl-course-calendar-navigation">
    <div class="sl-course-calendar-nav-left">
      <a [routerLink]="['/admin/courses/calendar', previousMonth.year(), previousMonth.month() + 1]">
        <i class="fa fa-arrow-circle-left"></i>
      </a>
    </div>

    <div class="sl-course-calendar-nav-right">
      <a [routerLink]="['/admin/courses/calendar', nextMonth.year(), nextMonth.month() + 1]">
        <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>

    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
