<!-- @{if(tile.isPreviousMonth || tile.isNextMonth) "tile-other-month" else if(tile.isToday) "tile-today"}" -->
<!-- @tile.date.toString(dateFormatter) -->
<!-- @tile.date.dayOfMonth().get() -->
<a href="#"
  class="sl-course-calendar-tile {{otherClasses()}}"
  [title]="tile.date.format('dddd, MMMM Do YYYY')">

  <span class="sl-course-calendar-tile-day">{{tile.date.date()}}</span>

  <!--
  <div class="sl-course-calendar-tile-info course-full" title="0 Spaces left on this course">
    0 <span class="course-word-spaces">Spaces</span>
  </div>

  <div class="sl-course-calendar-tile-info course-spaces" title="7 Spaces left on this course">
    7 <span class="course-word-spaces">Spaces</span>
  </div>-->
</a>
