<!-- @{if(tile.isPreviousMonth || tile.isNextMonth) "tile-other-month" else if(tile.isToday) "tile-today"}" -->
<!-- @tile.date.toString(dateFormatter) -->
<!-- @tile.date.dayOfMonth().get() -->
<a href="#"
  class="sl-course-calendar-tile {{otherClasses()}}"
  [title]="tile.date.format('dddd, MMMM Do YYYY')">

  <span class="sl-course-calendar-tile-day">{{tile.date.date()}}</span>

  <div class="sl-course-calendar-tile-course" *ngFor="let course of tile.courses">
    <div class="sl-course-calendar-tile-info course-full" title="Course full with {{course.totalSpaces}} taken" *ngIf="course.spacesFree == 0">
      <span class="course-word-spaces">Full</span> ({{course.totalSpaces}})
    </div>
    <div class="sl-course-calendar-tile-info course-spaces" title="{{course.spacesFree}} Spaces left on this course" *ngIf="course.spacesFree >= 1">
      {{course.spacesFree}}/{{course.totalSpaces}} <span class="course-word-spaces">Spaces</span>
    </div>
  </div>
</a>
