<div id="header-wrapper">
  <div>
    <div id="logo-wrapper">
      <img src="/assets/images/header.png" title="Leeds University Skydivers" alt="Leeds University Skydivers logo">
    </div>

    <header>
      <h1><span id="header-first">Leeds Uni</span> <span id="header-second">Skydivers</span></h1>
    </header>
  </div>
</div>

<div id="login-wrapper">
  <div id="login">
    <p id="warning-triangle-wrapper">
      <i class="fab fa-exclamation-triangle" aria-hidden="true"></i>
    </p>
    <p>
      Your account has not yet been activated. Speak to a committee member or post on our Facebook group.
    </p>
    <p id="home-button">
      <a [routerLink]="['/']" class="button">Back to Leeds Skydivers</a>
    </p>
  </div>
</div>
