<div id="intro-hero">
  <ul>
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>

  <div id="sign-up-form">
    <form (ngSubmit)="signup()" [formGroup]="signupForm">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name"
          formControlName="name" required
          placeholder="My name is ________ and I love skydiving!" value="">

        <div [hidden]="ctrlName.valid || ctrlName.untouched" class="form-field-error" id="name-form-field-error">
          Please enter a name
        </div>
      </div>

      <div>
         <label for="email">E-mail address</label>
         <input type="email" id="email" name="email"
          formControlName="email" required
          placeholder="Your main (non-uni) e-mail address" value="">

         <div [hidden]="ctrlEmail.valid || ctrlEmail.untouched" class="form-field-error" id="email-form-field-error">
           Please enter a valid e-mail address
         </div>
      </div>

      <button type="submit" [disabled]="!signupForm.valid">Sign me up!</button>
    </form>
    <p>{{cgValue}}</p>
  </div>
</div>
