@import '../../../assets/css/bourbon/bourbon'
@import '../../../assets/css/base/base'
@import '../../../assets/css/neat/neat'
@import '../../../assets/css/variables'

// General page structure
#header, #navbar, #content, #footer
  @include outer-container

#navbar, #content, #footer
  & > div
    @include span-columns(12)

// Header
$header-breakpoint: max-width 40em

#header
  margin-top: 1rem
  margin-bottom: 1rem

#header-logo
  @include span-columns(4)

  @include media($header-breakpoint)
    @include span-columns(12)
    text-align: center

#header-title
  @include span-columns(8)

  padding-top: 0.7em

  h1
    font-size: 5rem
    line-height: 0.8em
    font-family: 'Leckerli One', cursive
    font-weight: 300
    text-align: center
    margin: 0 -1em 0 0

    @include media(max-width 76em)
      margin: 0

    @include media(max-width 30em)
      font-size: 3.5rem

  @include media(max-width 40rem)
    @include span-columns(12)

// Social icons
#facebook-icon, #twitter-icon
  z-index: 100
  font-size: 3rem
  display: inline
  float: right

#facebook-icon
  a
    color: $facebook-blue

    &:hover
      color: lighten($facebook-blue, 10%)

#twitter-icon
  margin-left: 0.2em

  a
    color: $twitter-blue

    &:hover
      color: lighten($twitter-blue, 10%)

// Navigation
#navbar
  margin-bottom: 1rem
  width: 100%
  background: #fff
  border: solid 0.1em lighten($lsd_blue, 45%)

  ul
    padding: 0 0 0 0
    display: table
    margin: 0 auto

  li
    display: inline-block
    list-style: none
    padding: 0
    margin: 0 0.2em

    &.controls
      display: none

    i
      color: $lsd_yellow

    a
      font-family: 'Bree Serif', serif
      letter-spacing: 0.05em
      font-size: 1.35rem
      padding: 0.8em 1em
      display: block
      color: darken($lsd_blue, 10%)
      text-decoration: none

      &.active
        background: $navbar-hover-colour

      &:hover
        text-decoration: underline
        background: $navbar-hover-colour

    // Highlight join navbar button
    &#join-lsd-btn a
      color: #009B00

  @include media(max-width 70rem)
    .separator
      display: none

  @include media(max-width 30rem)
    ul
      display: block

    li
      display: none
      margin: 0

      &.visible
        display: block

      &.controls
        display: block
        background-color: darken($lsd_blue, 20%)

        i
          margin-right: 0.4em

        a
          color: #fff

          &:hover
            color: #fff
            background-color: $lsd_blue
            text-decoration: none

// Style for general use of #main div (inside #content)
#content
  background-color: #fff
  padding: 1rem
  border: solid 1px lighten($lsd_yellow, 30%)

// Footer
#footer
  padding: 0.5rem
  text-align: center
  color: #555
  font-family: 'Bree Serif', serif
  margin-top: 1rem

// Feature images
.feature
  border: solid 0.1em #ccc
  padding: 0.5em 0.5em 0.08em 0.5em
  display: inline-block
