@()(implicit request: play.api.mvc.Request[Any])

@*
 * Shows a simple thank you message and return to main form button.
 *@
@main("Thanks") {
<div id="intro-hero">
   <h2>Thank you!</h2>

   <p>Are you excited for skydiving? I AM :D</p>

  <div class="video">
    <div class="video-wrapper">
        <video autoplay loop>
          <source src="@routes.Assets.versioned("videos/hell-yeah.mp4")" type="video/mp4"></source>
          * Insert happy dancing GIF here *
        </video>
    </div>
  </div>

  <a id="go-back-btn" href="@routes.MembershipController.index()">Go back...</a>
</div>
}
