<h2>Prices</h2>

<p>
  Here's a list of everything you can buy through the club. Remember that most of this is subsidised by us and therefore
  the cheapest you'll ever get it!
</p>

<ul id="packages">
  <li>
    <div class="package-info">
      <h3>Jump ticket (experienced skydiver)</h3>

      <p>
        If you've qualified and have your A-license, then this is for you!
      </p>
    </div>

    <div class="package-price">&pound;19.50</div>
  </li>

  <li>
    <div class="package-info">
      <h3>Alumni Experienced Tickets (Non-Members)</h3>

      <p>
        For ex-members of the club who have graduated.
      </p>
    </div>

    <div class="package-price">&pound;21.00</div>
  </li>

  <li>
    <div class="package-info">
      <h3>Static line course (RAPS)</h3>

      <p>
        This price includes the whole training course (ground school) and one skydive.
      </p>
    </div>

    <div class="package-price">&pound;195.00</div>
  </li>

  <li>
    <div class="package-info">
      <h3>Jump ticket (static line course student)</h3>

      <p class="requirements">
        You must have completed ground school (Static line course) to use one of these jump tickets.
      </p>

      <p>
        One jump ticket for a static line student.
      </p>
    </div>

    <div class="package-price">&pound;37.00</div>
  </li>

  <li>
    <div class="package-info">
      <h3>Accelerated Free-Fall (AFF)</h3>

      <p>
        This price includes the whole training course (ground school) and eighteen jumps.
      </p>
    </div>

    <div class="package-price">&pound;1609.00</div>
  </li>

  <li>
    <div class="package-info">
      <h3>Kit hire (12 months)</h3>

      <p>
        Access to University of Leeds parachutes (rigs), experienced jumpers only.
      </p>
    </div>

    <div class="package-price">&pound;80.00</div>
  </li>

  <li>
    <div class="package-info">
      <h3>Alumni kit hire (12 months)</h3>

      <p>
        Access to University of Leeds parachutes (rigs), experienced alumni jumpers only.
      </p>
    </div>

    <div class="package-price">&pound;150.00</div>
  </li>
</ul>
