<h2>Prices</h2>

<p>
  Here's a list of everything you can buy through the club. Remember that most of this is subsidised by us and therefore
  the cheapest you'll ever get it!
</p>

<ul id="packages">
  <li>
    <div class="package-info">
      <h3>Jump ticket (experienced skydiver)</h3>

      <p>
        If you've qualified and have your A-license, then this is for you!
      </p>
    </div>

    <div class="package-price">&pound;18.00</div>
  </li>

  <li>
    <div class="package-info">
      <h3>Alumni Experienced Tickets (Non-Members)</h3>

      <p>
        For ex-members of the club who have graduated.
      </p>
    </div>

    <div class="package-price">&pound;19.00</div>
  </li>

  <li>
    <div class="package-info">
      <h3>Static line course (RAPS)</h3>

      <p>
        This price includes the whole training course (ground school) and one skydive. The next skydive is just &pound;20!
      </p>
    </div>

    <div class="package-price">&pound;175.00</div>
  </li>

  <li>
    <div class="package-info">
      <h3>Jump ticket (static line course student)</h3>

      <p class="requirements">
        You must have completed ground school (Static line course) to use one of these jump tickets.
      </p>

      <p>
        One jump ticket for a static line student.
      </p>
    </div>

    <div class="package-price">&pound;36.00</div>
  </li>

  <li>
    <div class="package-info">
      <h3>Tandem skydive</h3>

      <p>
        Experience the ultimate thrill without having to operate your own parachute.... Still awesome but it's not
        cheap!
      </p>
    </div>

    <div class="package-price">&pound;230.00</div>
  </li>
</ul>
