@import helpers.CalendarHelper.CalendarTile
@import org.joda.time.DateTime
@import org.joda.time.Period
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.format.DateTimeFormatter
@(tiles: Seq[CalendarTile], startDate: DateTime, dateFormatter: DateTimeFormatter = DateTimeFormat.forPattern("dd/MM/yyyy"))(implicit messages: Messages, request: play.api.mvc.Request[Any])

@*
* Shows one static line course.
*@
@admin.main("Course calendar") {

  <div id="full-column">
    <h2>Static line course calendar</h2>

    <div id="sl-course-calendar-navigation">
      <div id="sl-course-calendar-nav-left">
        <a href="#"><i class="fa fa-arrow-circle-left"></i></a>
      </div>

      <div id="sl-course-calendar-filter">
        <form action="@routes.CourseController.index()" method="get">
          <label for="calendar-filter-month">Month</label>
          <select id="calendar-filter-month" name="calendar-filter-month">
            @for(offset <- 1 to 36) {
              <option value="0">@{startDate.plus(Period.months(offset)).toString("yyyy - MMMM")}</option>
            }
          </select>

          <button type="submit">View</button>
        </form>
      </div>

      <div id="sl-course-calendar-nav-right">
        <a href="#"><i class="fa fa-arrow-circle-right"></i></a>
      </div>

      <div class="clear"></div>
    </div>

    <div id="sl-course-calendar">
      @for(tile <- tiles) {
        <a href="#" class="sl-course-calendar-tile @{tile.customClasses()}" title="@tile.date.toString(dateFormatter)">
          <span class="sl-course-calendar-tile-day">@tile.date.dayOfMonth().get()</span>

          @*
          * You can chain calls to Math.random() together like this, right? Right????
          *@
          @if(Math.random() >= 0.2 && Math.random() <= 0.3) {
            <div class="sl-course-calendar-tile-info course-full" title="0 Spaces left on this course">
              0 <span class="course-word-spaces">Spaces</span>
            </div>
          } else {
            @if(Math.random() >= 0.6 && Math.random() <= 0.7) {
              <div class="sl-course-calendar-tile-info course-spaces" title="7 Spaces left on this course">
                7 <span class="course-word-spaces">Spaces</span>
              </div>
            }
          }
        </a>
      }

      <div class="clear"></div>
    </div>
  </div>
}
