@import models.Member
@import models.TextMessage
@(member: Member, textMessages: Seq[TextMessage])(implicit messages: Messages, request: play.api.mvc.Request[Any])

@*
* Shows the main admin overview screen.
*@
@admin.main("Member view") {
  <div id="full-column">
    <h2>Member view</h2>

    <dl id="member-details">
      <dt>Name</dt>
      <dd>@member.name</dd>

      <dt>Phone number</dt>
      <dd>
        @if(member.phoneNumber == None) {
          <em>Not provided.</em>
        } else {
          @member.phoneNumber
        }
      </dd>

      <dt>E-mail</dt>
      <dd>
        @if(member.email == None) {
          <em>Not provided.</em>
        } else {
          @member.email
        }
      </dd>
    </dl>

    <hr>

    <h3>Text messages</h3>

    <ul id="member-text-messages">
      @for(message <- textMessages) {
        <li>
          <dl>
            <dt>Sent</dt>
            <dd>@message.sentDt</dd>
            <dt>To</dt>
            <dd>@message.toNumber</dd>
            <dt>From</dt>
            <dd>@message.fromNumber</dd>
          </dl>

          <p>@message.message</p>
        </li>
      }
    </ul>
  </div>
}
