<div id="intro-hero">
  <div *ngIf="apiRequestFailed" class="form-field-error">
    An unknown error occurred #sadtimes #turnitoffandonagain
  </div>

  <div id="sign-up-form">
    <form [formGroup]="signupForm">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" formControlName="name" required value=""
          placeholder="My name is ________ and I love skydiving!">

        <div [hidden]="ctrlName.valid || ctrlName.untouched" class="form-field-error" id="name-form-field-error">
          Please enter a name
        </div>

        <div *ngIf="errors && errors.name" class="form-field-error">
          {{translate(errors.name)}}
        </div>
      </div>

      <div>
         <label for="email">E-mail address</label>
         <input type="email" id="email" name="email" formControlName="email" required value=""
           placeholder="Your main (non-uni) e-mail address">

         <div [hidden]="ctrlEmail.valid || ctrlEmail.untouched" class="form-field-error" id="email-form-field-error">
           Please enter a valid e-mail address
         </div>

        <div *ngIf="errors && errors.email" class="form-field-error">
          {{translate(errors.email)}}
        </div>
      </div>

      <button type="button" (click)="signup(signupForm.value)" [disabled]="!signupForm.valid">Sign me up!</button>
      <span [ngClass]="{visible: showThrobber}" class="throbber"></span>
    </form>
  </div>
</div>
