<div id="header-wrapper">
  <lsd-header></lsd-header>
</div>

<div id="dashboard-wrapper-error" *ngIf="dashboardLoadFailed">
  <div id="dashboard-error">
    <p>I'm sorry, the member's dashboard is not available at this time. Please try again later.</p>
  </div>
</div>

<div id="dashboard-wrapper" *ngIf="!dashboardLoadFailed">
  <div id="profile">
    <div>
      <lsd-profile [basicInfo]="basicInfo"></lsd-profile>
    </div>
  </div>

  <div id="dashboard-left">
    <lsd-key-info></lsd-key-info>
  </div>

  <div id="dashboard-right">
    <lsd-packing-list></lsd-packing-list>

    <lsd-the-weather></lsd-the-weather>
  </div>
</div>
