@import '../../../assets/css/base'

#dashboard-wrapper, #dashboard-wrapper-error
  @include grid-container()

// Components

#profile
  @include grid-column(12)

#dashboard-key-info, #dashboard-left, #dashboard-right
  @include grid-column(12)

  @media (min-width: 64em)
    @include grid-column(6)

#profile, lsd-key-info, lsd-the-weather, lsd-packing-list
  padding: 1em
  background: white
  margin-bottom: 1em
  display: block

#dashboard-error
  padding: 1em
  background: white
  margin-bottom: 1em
  display: block
  background: lighten($lsd-red, 40%)
  border: solid 0.1em $lsd-red

  @include grid-column(12)
