<div id="faqs-wrapper">
  <h2>FAQs</h2>

  <p>
    If there's anything you want to know that isn't answered here, then please <a [routerLink]="['/contact']">contact us</a>
    and ask!
  </p>

  <div id="faq-list">
    <h3>General FAQs</h3>

    <ul class="faqs">
      <li>
        <h4>
          <i class="fa fa-comment-o"></i>

          How much does it cost to join?
        </h4>

        <p>£35.00 for the year, entitling you to cheaper socials, jump ticket deals and kit hire rates.</p>
      </li>

      <li>
        <h4>
          <i class="fa fa-comment-o"></i>

          How do I join?
        </h4>

        <p>
          We recommend coming along to one of our socials (check the facebook group to find out when and where). After
          you've decided you were right, skydiving is the best idea ever, you can buy membership on the
          <a href="http://www.leedsuniversityunion.org.uk/groups/skydiving/"
             title="Skydiving on the Leeds University Union website.">Union page</a>.
        </p>
      </li>

      <li>
        <h4>
          <i class="fa fa-comment-o"></i>

          I'm not quite up for being a solo skydiver just yet, can I do a tandem?
        </h4>

        <p>
          Absolutely, just message a committee member or come along to a social and we'll try and get you booked in as
          soon as possible. We do recommend going the solo route, as it's cheaper and we know you'll love skydiving as
          much as we do.
        </p>
      </li>

      <li>
        <h4>
          <i class="fa fa-comment-o"></i>

          Are there any limiting factors?
        </h4>

        <p>
          There is a 16 stone weight limit to do a solo course and 15 stone to do a tandem. You also need a clean bill
          of health, or a doctor's permission to jump.
        </p>
      </li>

      <li>
        <h4>
          <i class="fa fa-comment-o"></i>

          Is it safe?
        </h4>

        <p>
          Skydiving is an 'extreme' sport and with every extreme sport there are risks posed. However, there are
          measures taken to reduce these risks.
        </p>

        <p>
          Our kit is of the highest standard, including easy to use square parachutes, allowing you to land gently and
          safely. It also includes a reserve parachute, there in case your main parachute doesn't function properly
          (extremely rare). This reserve parachute is maintained to the highest standard and is repacked every 6 months
          by a professional packer. Most of the club have never seen a reserve parachute flying over their head, even
          with hundreds of jumps. All kits are also fitted with Automatic Activation Devices, equipment that will deploy
          your reserve parachute if you aren't able to. This means if you pass out during freefall, your parachute will
          be deployed, meaning you can still land safely.
        </p>

        <p>
          To be a skydiver, you undergo rigorous training, from ground school (your initial training) to regular briefs.
          You'll receive this training until your final jump as a student skydiver, upon which you'll be rewarded your
          A-license and be allowed to jump without an instructor. By this time, you'll be fully trained and will be able
          to deal with any issues that may arise.
        </p>

        <p>
          As much as the media portrays skydivers to be adrenaline junkies and thrill seekers, most of us merely enjoy
          the sport and wish for nothing more than to land safely after every jump. For more information about the
          safety of the sport, please visit our governing body's page:

          <a href="http://www.bpa.org.uk/staysafe/how-safe/">BPA - Stay Safe - How Safe?</a>
        </p>
      </li>

      <li>
        <h4>
          <i class="fa fa-comment-o"></i>

          Is it expensive?
        </h4>

        <p>Not really!</p>

        <p>
          As a trainee skydiver, your jumps will be no more than around &pound;36.00 per skydive and after qualifying,
          they'll be considerably less (from &pound;16.00). The fact that we subsidise these prices makes learning to
          skydive at university the cheapest you will ever get it!
        </p>

        <p>
          We also allow you to hire kit through the year, meaning we take care of the expensive maintenance and cost of
          having your own parachute until you are able to afford it yourself.
        </p>
      </li>
    </ul>

    <h3>Static Line Course (RAPS) FAQs</h3>

    <ul>
      <li>
        <h4>
          <i class="fa fa-comment-o"></i>

          How much does each jump cost?
        </h4>

        <p>
          We aim to subsidise training jumps down to &pound;36.00 and experienced jumps to &pound;16.00 or less this year.
        </p>
      </li>

      <li>
        <h4>
          <i class="fa fa-comment-o"></i>

          How much is the initial training fee?
        </h4>

        <p>£175.00 – this includes <strong>two jumps</strong> and all your training!</p>
      </li>

      <li>
        <h4>
          <i class="fa fa-comment-o"></i>

          How many jumps will it be until I qualify as an experienced skydiver?
        </h4>

        <p>
          Every person is different and takes a slighly different amount of time to learn to skydive. The minimum is 28
          jumps and most people take around 28-35.
        </p>
      </li>
    </ul>
  </div>
</div>
