<div id="full-column">
  <h2>Static line course</h2>

  <dl id="sl-course-info">
    <dt>Date</dt>
    <dd>{{ formatDate(course?.course?.date) }}</dd>

    <dt>Organiser</dt>
    <dd>{{ course?.organiser?.name }}</dd>

    <dt>Secondary organiser</dt>
    <dd>{{ course?.secondaryOrganiser?.name || 'None' }}</dd>

    <dt>Status</dt>
    <dd>{{ translateStatus(course?.course?.status) }}</dd>

    <dt># Spaces</dt>
    <dd>{{ spaces?.length }}</dd>
  </dl>

  <div class="clear"></div>

  <h3>Students</h3>

  <table id="sl-course-students">
    <thead>
      <tr>
        <th id="sl-course-students-id">#</th>
        <th id="sl-course-students-name">Name</th>
        <th id="sl-course-students-date-joined">Date joined</th>
        <th id="sl-course-students-info-complete">Info complete</th>
        <th id="sl-course-students-forms-complete">Forms complete</th>
        <th id="sl-course-students-reg-langar">Reg. /w Langar</th>
        <th id="sl-course-students-options">Options</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let space of spaces">
        <td class="sl-course-students-id">{{ space.number }}</td>
        <td class="sl-course-students-name">{{ space.member?.name || 'N/A' }}</td>
        <td class="sl-course-students-date-joined">{{ space.member?.createdAt || '' }}</td>
        <td class="sl-course-students-info-complete"><i class="fa fa-times" aria-hidden="true" style="color: red;"></i></td>
        <td class="sl-course-students-forms-complete"><i class="fa fa-check" aria-hidden="true" style="color: green;"></i></td>
        <td class="sl-course-students-reg-langar"><i class="fa fa-times" aria-hidden="true" style="color: red;"></i></td>
        <td class="sl-course-students-options">
          <div *ngIf="space.member">
            <button type="button" title="Contact student" class="sl-course-students-contact"><i class="fa fa-phone" aria-hidden="true"></i></button>
            <button type="button" title="Edit member information" class="sl-course-students-edit-member"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" class="btn-warning sl-course-students-remove" title="Remove from course"><i class="fa fa-trash-o"></i></button>
          </div>
          <div *ngIf="!space.member">
            <button type="button" title="Add member" class="sl-course-students-add-member"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
