<div id="frontpage-top">
  <div id="intro-snippet">
    <h2>How do I get started?</h2>

    <p>
      <a href="http://www.luu.org.uk/skydiving/" title="Join us now">Join us now</a> and start
      skydiving for just &pound;195!
    </p>
  </div>

  <div id="xdream">
    <h2>Experienced jumpers, get kitted out:</h2>

    <div id="xdream-inner">
      <div id="xdream-logo">
        <a href="https://xdsports.uk">
          <img src="/assets/images/xdream.png" title="XDream skydiving gear store" alt="XDream skydiving gear store">
        </a>
      </div>

      <div id="xdream-introduction">
        <p>
          Check out our sponsor, <a href="https://xdsports.uk">XDream</a>.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="frontpage-video">
  <div id="frontpage-video-wrapper">
    <iframe *ngIf="showVideo"
            src="//player.vimeo.com/video/65379442?badge=0&title=0&color=ffffff&byline=0&autoplay=true"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <div id="video-placeholder" *ngIf="!showVideo">
      <a href="" (click)="$event.preventDefault(); loadVideo()">
        <img src="/assets/images/video-placeholder.jpg"
             alt="Video placeholder - click to view We Own the Sky on Vimeo.">
      </a>
    </div>
  </div>
</div>
