<div class="member-search">
  <input type="text" id="member-search-term" [(ngModel)]="searchTerm">
  <button id="member-search-button" [disabled]="searchTerm.length == 0" (click)="performSearch()">
    <i class="fa fa-search" aria-hidden="true" title="Search"></i>
  </button>

  <ul id="member-search-results" *ngIf="hasSearched">
    <li *ngIf="searchResults.length == 0">
      No results found matching the given term.
    </li>
    <li *ngFor="let result of searchResults">
      <a href="#" (click)="$event.preventDefault(); selectResult(result)">
        {{ result.name }} ({{ result.phoneNumber }} - {{ result.email }})
      </a>
    </li>
  </ul>
</div>
