<div class="member-search">
  <input type="text" id="member-search-term">
  <button id="member-search-button">
    <i class="fa fa-search" aria-hidden="true" title="Search"></i>
  </button>

  <ul id="member-search-results">
    <li>
      <a href="#" onclick="return false;">Test Member (test@test-member.com, +447123123123)</a>
    </li>
    <li>
      <a href="#" onclick="return false;">Test Member (test@test-member.com, +447123123123)</a>
    </li>
    <li>
      <a href="#" onclick="return false;">Test Member (test@test-member.com, +447123123123)</a>
    </li>
    <li>
      <a href="#" onclick="return false;">Test Member (test@test-member.com, +447123123123)</a>
    </li>
    <li>
      <a href="#" onclick="return false;">Test Member (test@test-member.com, +447123123123)</a>
    </li>
    <li>
      <a href="#" onclick="return false;">Test Member (test@test-member.com, +447123123123)</a>
    </li>
    <li>
      <a href="#" onclick="return false;">Test Member (test@test-member.com, +447123123123)</a>
    </li>
  </ul>
</div>
