<h2>
  Get in touch
</h2>

<div id="contact">
  <p>There are <strong>LOADS</strong> of ways to get in touch with us:</p>

  <dl>
    <dt>
      <a href="https://www.facebook.com/groups/shockabrah">Facebook group</a>
    </dt>
    <dd>
      Join our group and a member of the committee should message you letting you know about how to get involved with the club.
      Make sure that you check your <strong>'Other'</strong> folder as that's where it will most likely end up!

      Post in the group or message a member of the committee (see the list on the right).
    </dd>

    <dt>
      <a href="https://twitter.com/LeedsSkyDivers">Twitter</a>
    </dt>
    <dd>
      Tweet us a question!
    </dd>
    <dt>
      <a href="https://www.facebook.com/leedsuniskydivers">Facebook page</a>
    </dt>
    <dd>
      Like our page then send us a message.
    </dd>
    <dt>
      <a href="mailto:leedsskydivers@gmail.com">E-mail</a>
    </dt>
    <dd>
      If nothing above works for you, send us an e-mail.
    </dd>
  </dl>
</div>
