@import 'bootstrap'

body, input, h1, h2, h3, h4, h5, h6
  font-family: 'Source Sans Pro', sans-serif

body, input
  font-size: 16px

body
  padding-top: 1.5em

  .jumbotron
     background-color: #fff;
     border: solid 0.2em #c0edff;

@media (min-width: 768px)
  .container
    max-width: 730px;

#intro-header
  text-align: center

  img
    width: 75%

footer
  text-align: center
  color: #666
  font-size: 0.9em

#sign-up-form
  dd.info
    display: none

  dd.error
    @extend .label
    @extend .label-danger
    padding: 0.5em
    margin-top: 0.5em
    display: inline-block
