<div id="header-wrapper">
  <lsd-header></lsd-header>
</div>

<div id="committee-dashboard-wrapper">
  <div id="committee-dashboard-left">
    <div id="intro">
      <h2>
        Hey handsome!
      </h2>

      <p>
        Welcome to the committee dashboard. From here, you can manage all aspects of members and their interactions
        with the website.
      </p>
    </div>

    <div id="text-messages">
      <h2>
        Text messages
      </h2>

      <p>
        There are currently <strong>0</strong> unread text messages.
      </p>
    </div>
  </div>

  <div id="committee-dashboard-right">
    <div id="stats">
      <lsd-committee-stats></lsd-committee-stats>
    </div>
  </div>
</div>
