<div id="header">
  <div id="header-logo">
    <a [routerLink]="['/members', 'dashboard']" title="Homepage">
      <img src="/assets/images/header.png" alt="Leeds University Skydivers Logo"
           title="Leeds University Skydivers Logo">
    </a>
  </div>

  <div id="header-title">
    <h1>Leeds Uni Skydivers</h1>
  </div>

  <div id="social-icons">
    <div id="facebook-icon">
      <a href="https://www.facebook.com/leedsuniskydivers" title="Leeds Skydivers on Facebook">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
  </div>

  <div id="clear"></div>
</div>
