<div class="member-search">
  <input type="text" id="member-search-term" [(ngModel)]="searchTerm">
  <button id="member-search-button" [disabled]="searchTerm.length == 0" (click)="performSearch()">
    <i class="fa fa-search" aria-hidden="true" title="Search"></i>
  </button>

  <ul id="member-search-results" *ngIf="hasSearched">
    <li *ngIf="displayedSearchResults.length == 0">
      No results found matching the given term.
    </li>
    <li *ngFor="let result of displayedSearchResults">
      <a href="#" (click)="$event.preventDefault(); searchResultSelected(result)" [ngClass]="{'chosen': result.chosen}">
        {{ result.firstName }} {{ result.lastName }} ({{ result.phoneNumber || 'None' }} - {{ result.email || 'None' }})
      </a>
    </li>

    <button id="more-search-results-button" (click)="showMoreResults()" *ngIf="!this.allResultsDisplayed()">
      Show more results
    </button>
  </ul>
</div>
