<div id="intro-hero">
  <div *ngIf="apiRequestFailed" class="form-field-error">
    An unknown error occurred #sadtimes #turnitoffandonagain
  </div>

  <div id="sign-up-form">
    <form [formGroup]="signupForm">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" formControlName="name" required value=""
          placeholder="My name is ________ and I love skydiving!">

        <div [hidden]="ctrlName.valid || ctrlName.untouched" class="form-field-error" id="name-form-field-error">
          Please enter a name
        </div>

        <div *ngIf="errors && errors.name" class="form-field-error">
          {{translate(errors.name)}}
        </div>
      </div>

      <div>
        <label for="phone-number">Phone number</label>
        <input type="text" id="phone-number" name="phone-number" formControlName="phoneNumber" required value=""
          placeholder="Mobile number, e.g. 07123123123">

        <div [hidden]="ctrlPhoneNumber.valid || ctrlPhoneNumber.untouched" class="form-field-error" id="phone-number-form-field-error">
          Please enter a valid phone number
        </div>

        <div *ngIf="errors && errors.phoneNumber" class="form-field-error">
          {{translate(errors.phoneNumber)}}
        </div>
      </div>

      <button type="button" (click)="signup(signupForm.value)" [disabled]="!signupForm.valid">Sign me up!</button>
      <span [ngClass]="{visible: showThrobber}" class="throbber"></span>
    </form>
  </div>
</div>
