<div id="key-info-wrapper">
  <h2>The really important bits</h2>

  <p>This stuff is really important for your static line course weekend. Please read it all!</p>

  <dl id="key-info">
    <dt><i class="fa fa-suitcase" aria-hidden="true"></i> Pack light</dt>
    <dd>
      Make sure you bring plenty of warm clothes but <em>please</em> don't bring a huge hard suitcase. Your driver is
      more likely to turn up in a Micra than a 4x4.
    </dd>

    <dt><i class="fa fa-money" aria-hidden="true"></i> Don't forget cash</dt>
    <dd>
      Unlike in most of the developed world, you'll struggle to pay for anything other than the jump tickets with a
      credit card so please bring at least &pound;30-40 with you for the weekend.
    </dd>

    <dt><i class="fa fa-bed" aria-hidden="true"></i> No really, bring warm clothes</dt>
    <dd>
      We've said it once, and we'll say it again (and again... and again...) please bring lots of warm clothes and a
      warm sleeping bag. Even if the weather looks warm for a weekend, you <strong>will need warm clothes</strong>.
      Every year a new student tells us that it's colder in the bunkhouse (your accommodation) than outside. They're not
      wrong.
    </dd>

    <dt><i class="fa fa-leaf" aria-hidden="true"></i> Don't forget sturdy shoes</dt>
    <dd>
      Trainers are the ideal but <u>you must not bring walking boots or shoes with hooks</u>. They might get a little
      muddy (sorry) but it's worth it for the skydiving!
    </dd>

    <dt><i class="fa fa-cutlery" aria-hidden="true"></i> Veggie? Vegan? Dietary requirements?</dt>
    <dd>
      Langar isn't fantastic for vegetarians, vegans or effectively anyone that doesn't like a greasy fry up with bacon
      & eggs etc. If you have any dietary requirements, we recommend you bring some food that will help top up whatever
      you eat on site.
    </dd>
  </dl>
</div>
