<h2>
  About the club
</h2>

<div class="feature" id="about-feature">
  <img src="/assets/images/features/wingsuitrodeo.jpg" alt="Wingsuit rodeo with Becca & Jack." title="Club president Becca doing a wingsuit rodeo on Leeds alumni Jack.">
</div>

<p>
  The Leeds University Skydiving Society is part of the outdoor societies at the Leeds University Union. We welcome
  members from all Leeds and surrounding universities, including alumni.
</p>

<p>
  Our current home dropzone is <a href="http://www.britishparachuteschools.com/">BPS Langar</a>, situated just outside
  of Nottingham. The dropzone is the largest civilian dropzone in the UK, hosting tandems and fun jumpers every day of
  the year (except Christmas Day). The dropzone also hosts Nottingham, Birmingham, Warwick, London and Loughborough
  University skydiving clubs, ensuring there are always lots of new students to meet.
</p>

<p>
  We are held together as a club by our passion for all avenues of the sport; becoming a member means being welcomed into
  a club that will help you from your first jump to your 1000th. The club is very sociable, hosting weekly events at
  varying locations (check <a href="https://www.facebook.com/groups/shockabrah">our Facebook</a> if you want to find out
  more).
</p>

<p>
  <a href="http://www.leedsuniversityunion.org.uk/groups/skydiving/">
    <button id="join-button">
      Join Leeds University Skydivers
    </button>
  </a>
</p>

<h3>
  Affiliates
</h3>

<ul id="affiliates">
  <li>
    <a href="http://www.flyaerodyne.com/">Aerodyne Research</a>
  </li>
  <li>
    <a href="http://www.bpa.org.uk/">British Parachute Association (BPA)</a>
  </li>
  <li>
    <a href="https://www.bcpa.org.uk/">British Collegiate Parachute Association (BCPA)</a>
  </li>
</ul>
