@import 'bourbon/bourbon'
@import 'neat/neat'
@import 'base/base'

$lsd-blue: #009dd9
$lsd-yellow: #fdda00
$lsd-red: #ea0005

@mixin error-box
  background: lighten($lsd-red, 40%)
  border: solid 0.1em $lsd-red

body, input
  font-size: 22px
  letter-spacing: 0.07em

body
  background: url('/assets/images/bg-tile.png') repeat
  padding-top: 1.5em

#signup-container
  @include outer-container

  & > div, & > footer
    @include span-columns(6)
    @include shift(3)

    @media(max-width: 65em)
      @include span-columns(8)
      @include shift(2)

    @media(max-width: 55em)
      @include span-columns(12)
      @include shift(0)

nav
  text-align: right

  li
    display: inline-block

    a
      padding: 0.5em 1em
      display: inline-block

      &:hover
        background-color: lighten($lsd-blue, 50%)
        color: #000

    &.active
      a
        background-color: $lsd-blue
        color: white

        &:hover
          background-color: $lsd-blue
          color: white


  @media(max-width: 45em)
    ul
       margin-bottom: 1em

h1
  margin: -1.5em 0 1.4em 0

  @media(max-width: 45em)
     display: none

#intro-hero
  padding: 2em
  border: solid 0.2em $lsd-blue
  border-radius: 0.5em
  background: white

  @media(max-width: 55em)
    padding: 1em

#intro-header
  text-align: center

  img
    width: 75%

#sign-up-form
  dd.info
    display: none

  dd.error
    padding: 0.2em 0.3em
    display: inline-block
    margin-bottom: 0.5em
    border-radius: 0.25em
    @include error-box

  label
    font-size: 2rem

  button
    background-color: #69D47B

#giphy-link
  font-size: 0.5em

#go-back-btn
  @extend button

.error-message
  @include error-box
  padding: 0.3em 0.5em

footer
  text-align: center
  color: #666
  font-size: 0.9em
