@(form: Form[Member])(implicit messages: Messages, request: play.api.mvc.Request[Any])

@*
* Shows the main intro page with alternative sign-up form (e-mail rather than phone number).
*@
@main("Sign-up") {
<div class="jumbotron">
  <h1>Freshers Sign-up</h1>
  <p class="lead">Hey!</p>

  @if(form.hasGlobalErrors) {
    <ul>
        @for(error <- form.globalErrors) {
        <li>@error.message</li>
        }
    </ul>
  }

  <p>
    @helper.form(action = routes.MembershipController.signupAlt()) {
      <div class="form-group">
        @helper.input(form("name"), '_label -> "Name") { (id, name, value, args) =>
        <input type="text" class="form-control" id="@id" name="@name" placeholder="Name" @toHtmlArgs(args)>
        }
      </div>
      <div class="form-group">
        @helper.input(form("email"), '_label -> "E-mail") { (id, name, value, args) =>
        <input type="text" class="form-control" id="@id" name="@name" placeholder="Your main e-mail address, not the uni one please." @toHtmlArgs(args)>
        }
      </div>
      <button type="submit" class="btn btn-lg btn-success">Sign me up!</button>
    }
  </p>
</div>
}
