@(form: Form[Member])(implicit messages: Messages, request: play.api.mvc.Request[Any])

@*
 * Shows the main intro page with sign-up form.
 *@
@main("Sign-up", request) {
  <div class="jumbotron">
    <h1>Freshers Sign-up</h1>
    <p class="lead">Hey!</p>

    @if(form.hasGlobalErrors) {
      <ul>
        @for(error <- form.globalErrors) {
          <li>@error.message</li>
        }
      </ul>
    }

    <p>
      @helper.form(action = routes.MembershipController.signup()) {
        <div class="form-group">
          @helper.input(form("name"), '_label -> "Name") { (id, name, value, args) =>
            <input type="text" class="form-control" id="@id" name="@name" placeholder="Name" @toHtmlArgs(args)>
          }
        </div>
        <div class="form-group">
          @helper.input(form("phoneNumber"), '_label -> "Phone number") { (id, name, value, args) =>
            <input type="text" class="form-control" id="@id" name="@name" placeholder="Mobile number, e.g. 07123123123" @toHtmlArgs(args)>
          }
        </div>
        <button type="submit" class="btn btn-lg btn-success">Sign me up!</button>
      }
    </p>
  </div>
}
