@(form: Form[models.Member])(implicit messages: Messages, request: play.api.mvc.Request[Any])

@*
 * Shows the main intro page with sign-up form.
 *@
@main("Sign-up") {
  <div id="intro-hero">
    @if(form.hasGlobalErrors) {
      <ul>
        @for(error <- form.globalErrors) {
          <li>@error.message</li>
        }
      </ul>
    }

    <div id="sign-up-form">
      @helper.form(action = routes.MembershipController.signup()) {
        <div>
          @helper.input(form("name"), '_label -> "Name") { (id, name, value, args) =>
            <input type="text" id="@id" name="@name" placeholder="My name is ________ and I love skydiving!" value="@value" @toHtmlArgs(args)>
          }
        </div>
        <div>
          @helper.input(form("phoneNumber"), '_label -> "Phone number") { (id, name, value, args) =>
            <input type="text" id="@id" name="@name" placeholder="Mobile number, e.g. 07123123123" value="@value" @toHtmlArgs(args)>
          }
        </div>
        <button type="submit">Sign me up!</button>
      }
    </div>
  </div>
}
