@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
  <div class="jumbotron">
    <h1>Freshers Sign-up</h1>
    <p class="lead">Hey!</p>

    <p>
      <form action="#" method="post">
        <div class="form-group">
          <label for="lsd-name">Name</label>
          <input type="text" class="form-control" id="lsd-name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="lsd-mobile-number">Mobile number</label>
          <input type="text" class="form-control" id="lsd-mobile-number" placeholder="Mobile number, e.g. 07123123123">
        </div>
        <button type="submit" class="btn btn-lg btn-success">Sign me up!</button>
      </form>
    </p>
  </div>
}
