@()(implicit request: play.api.mvc.Request[Any])

@*
 * Shows a simple thank you message and return to main form button.
 *@
@main("Thanks") {
<div id="intro-hero">
   <h2>Thank you!</h2>

   <p>Are you excited for skydiving? I AM :D</p>

  <iframe src="//giphy.com/embed/dkGhBWE3SyzXW" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <p id="giphy-link"><a href="https://giphy.com/gifs/excited-dancing-dkGhBWE3SyzXW">via GIPHY</a></p>

  <a id="go-back-btn" href="@routes.MembershipController.index()">Go back...</a>
</div>
}
