code
  font-size: 0.8em
  background-color: #ccc
  padding: 0.2em


#admin-container
  @include outer-container

  #logo
    width: 9.67rem
    margin: -3.25em 0 1.2em 0

  nav
    text-align: right

    li
      display: inline-block

      a
        padding: 0.5em 1em
        display: inline-block

        &:hover
          background-color: lighten($lsd-blue, 50%)
          color: #000

      &.active
        a
          background-color: $lsd-blue
          color: white

          &:hover
            background-color: $lsd-blue
            color: white

  #nav-container
    @include span-columns(12)

#left-column
  @include span-columns(4)
  border: solid 0.15em $lsd-blue

#middle-column
  @include span-columns(4)
  border: solid 0.15em $lsd-yellow

#right-column
  @include span-columns(4)
  border: solid 0.15em $lsd-red
    @include omega()

#left-column, #middle-column, #right-column, #full-column
  background: white
  padding: 0.8rem
  border-radius: 0.4rem

  h2
    margin-bottom: 0.1em

#full-column
  @include span-columns(12)

.content
  background: white
  padding: 0.5em

footer
  text-align: center
  color: #666
  font-size: 0.9em

hr
  border: solid 0.07em #eee
  margin: 0.4em 0

#stats
  border: solid 0.05em #ccc

  th, td
    padding: 0.3em
    border: solid 0.05em #ccc

.stats-value
  width: 25%

#settings
  li
    display: inline-block

    a
      display: inline-block
      padding: 0.5em
      background-color: lighten($lsd-blue, 45%)
      width: 100%
      color: #000
      margin-top: 0.4em

      &:hover
        background-color: lighten($lsd-blue, 30%)
        color: #000

    i
      color: lighten(#000, 40%)

#welcomeText
  height: 10rem

#member-details
  margin-top: 1em

  dd
    padding: 0.3em 0 0.3em 0.6em

#member-text-messages
  li
    padding: 0.5em
    background: lighten($lsd-blue, 30%)
    margin-bottom: 1em

  dl
    padding: 0.5em
    border-bottom: solid 0.1em lighten($lsd-blue, 20%)
    margin-bottom: 1em

  dt, dd
    display: inline-block

  dt:after
    content: ':'

  dd
    margin-right: 1em

@import 'admin/static_line_course'
@import 'admin/static_line_course_calendar'
