@import 'bourbon/bourbon'
@import 'neat/neat'
@import 'base/base'
@import 'font-awesome/font-awesome'
@import 'variables'

@mixin error-box
  background: lighten($lsd-red, 40%)
  border: solid 0.1em $lsd-red

*
  box-sizing: border-box

body, input
  font-size: 22px

body
  background: url('/assets/images/bg-tile.png') repeat
  padding-top: 1.5em

form
  dd.info
    display: none

  dd.error
    padding: 0.2em 0.3em
    display: inline-block
    margin-bottom: 0.5em
    border-radius: 0.25em
    @include error-box

a
  color: lighten($lsd_blue, 10%)

  @include transition(color 0.2s)

  &:hover
    color: darken($lsd_blue, 10%)

// Source: http://refills.bourbon.io/components/
.video-wrapper
  height: 0
  overflow: hidden
  padding-bottom: 75% // For ratio 16:9. 75% if ratio is 4:3
  position: relative
  margin-bottom: 1rem

  embed,
  object,
  iframe,
  video
    @include position(absolute, 0 null null 0)
    @include size(100%)


$warning-colour: #ffcf64

.btn-warning
  background-color: $warning-colour

  &:hover
    background-color: darken($warning-colour, 20%)

.clear
  clear: both
